* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  --color-primary: #F4F5F7;
  --color-secondary: #e4eaf5;
  --color-accent: #0052CC;
  --color-accent-dark: #172B4D;
  --text-primary: #5E6C84;
}

.navbar {
  background: var(--color-primary);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  z-index: 1;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-accent);
  letter-spacing: -1px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-decoration: none;
  height: 100%;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 12px 25px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  background: var(--color-accent);
  color: var(--color-primary);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button:hover {
  background: #0c63e6;
}

.navbar__links:hover {
  color: var(--color-accent);
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -500px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--color-primary);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 90vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle { 
    cursor: pointer;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(41, 46, 53);
    transition: all 0.3s ease;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    height: 150px;
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
    background-color: black;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */
.hero {
  background: var(--color-primary);
  padding: 200px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
}

.hero__heading {
  font-size: 7rem;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: -2px;
  transform: translateX(-5px);
  margin-bottom: 20px;
  color: var(--color-accent-dark);
}

.hero__description {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin-bottom: 3.5rem;
}

.main__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background: var(--color-accent);
  border: none;
  border-radius: 3px;
  padding: 12px 25px;
  font-size: 1rem;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.main__btn:hover {
  background: #0c63e6;
}

@media screen and (max-width: 1200px) {
  .hero__container {
    padding: 0 50px;
  }
}

.main {
  background: var(--color-secondary);
  padding: 100px 0;
}

.main__container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
}

.work__heading {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-accent-dark);
  letter-spacing: -2px;
}

.work__description {
  font-size: 1.5rem;
  color: var(--text-primary);
}

/* TODO: STYLE SCROLL BAR */